body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}
h1 {
    color: #333;
}
p {
    font-size: 18px;
    color: #333;
}
#message {
    font-size: 24px;
    margin-bottom: 10px;
}
#inputBox {
    font-size: 16px;
    padding: 5px;
}

#submit {
    font-size: 16px;
    padding: 5px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in;
}
#submit:hover {
    background-color: #0056b3;
    transform: translateY(10px);
}
